/* Settings */
html, body {
    overflow-x: hidden; /* Prevents horizontal scrolling */
    width: 100%; /* Ensures full width usage */
}


/* Footer */
footer.footer{
    margin: 0 20px;
    margin-top: 80px;
    padding: 40px 0;
}
footer .footer__content-bottom{
    border: none;
}

footer .footer__content-top{
    padding: 0;
}

/* Announcement bar */
.announcement-bar__message {
    margin-top: 6px;
}

/* RESPONSIVE */
@media (max-width: 750px) {
    
    /* Announcement bar */
    .announcement-bar__message {
        margin-top: 4px;
        padding-top: 0;
        margin-bottom: 2px;
        min-height: 25px;
    }

    /* Header */
    header.header {
        padding: 4px 0px;
    }
    .header:not(.drawer-menu).page-width {
        padding-left: 10px;
        padding-right: 10px;
    }
    img.header__heading-logo{
        height: 21px;
        width: 110px;
    }
    header svg.icon.icon-cart-empty, header svg.icon.icon-cart{
        height: 43px;
        margin-right: 0;
    }
    header svg.icon.icon-hamburger{
        height: 16px;
    }
    header svg.icon.icon-search{
        height: 20px;
        margin-right: -25px;
    }
    header svg.icon.icon-close{
        height: 15px;
    }
    header .header__icons{
        padding: 0;
    }
    .menu-drawer__menu-item--active{
        background: none !important;
    }

    /* Footer */
    footer.footer{
        margin-top: 40px;
    }
}