@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quattrocento:wght@400;700&display=swap');
/*

MAIN

.quattrocento-regular {
  font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
}

.quattrocento-bold {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
}
.quattrocento-sans-regular {
  font-family: "Quattrocento Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.quattrocento-sans-bold {
  font-family: "Quattrocento Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.quattrocento-sans-regular-italic {
  font-family: "Quattrocento Sans", serif;
  font-weight: 400;
  font-style: italic;
}

.quattrocento-sans-bold-italic {
  font-family: "Quattrocento Sans", serif;
  font-weight: 700;
  font-style: italic;
}

*/

h1{
    font-size: 48px;
}

h2{
    font-size: 32px;
}

p, span, input, textarea, i, b{
    font-size: 14px;
    color: #252827;
}

a.header__menu-item span{
    font-family: "Quattrocento Sans", serif;
    font-size: 16px;
    text-decoration: none;
}

a.header__menu-item span:hover{
    text-decoration: none;
    font-weight: 700;
}